h1, h2, h3 {
    text-align: center;
    color: black;
}

body {
    display: grid;
    place-items: center;
    background-color: #A9A9A9;
}

.tempero {
    border-radius: 5%;
    width: 6;
    height: center;
}
.imagem{
border-radius: 5%;
height: auto; 
margin-top: 20px; 
}
