h1 {
  color: black; 
  text-align: center; 
}

div {
  color: black; 
  text-align: center; 
}

body { 
  display: grid;
  place-items: center; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    color: #333;
}


section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #333;
}


p {
    color: #666;
}

/* adionei o list-style-type para tirar o ponyo preto que fica*/

ul {
    list-style-type: none;
    padding: 0;
}

/* coloquei o text-decoreition para tirar decoranção do texto */
ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
}

