h1 {
    text-align: center;
    color: black ;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;

}
h3 {
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    background-color: rgb(98, 148, 151);

}
.container {
    position: absolute;
    left: 35%;
    color: black;
    width: 35%;
    font-size: large;
}

#coxinha {
    position: absolute;
    top: 100%;
    left: 35%;
    width: 500px;
    height: 250px;
    border-radius: 12%;
}
